body {
  background-color: #f5deb3;
  margin: 100px;
}

header {
  background-color: red;
  height: 90px;
}

.sec1 {
  margin: 10px 0px;
  height: 90px;
  background-color: rgb(225, 247, 102);
}
.sec2 {
  margin: 10px 0px;
  height: 90px;
  background-color: violet;
  color: rgb(0, 255, 0);
  font-style: italic;
}

.sec3 {
  background-color: rgb(94, 15, 80);
}
.sec4 {
  margin: 10px 0px;
  background-color: chartreuse;
}
.sec5 {
  margin: 10px 0px;
  background-color: rgb(255, 255, 255);
}
