

/* .spac {
    margin-right: 50px;
} */

/* .pse1 {
    margin-right: 50px;
    color: blue;
}

.pse2 {
    margin-right: 43px;
    color: blue;
}

.pse3 {
    margin-right: 95px;
    color: blue;
}

.pse4 {
    margin-right: 95px;
    color: blue;
}

.pse5 {
    margin-right: 38px;
    color: blue;
}

.blue-box {
    background-color: #cfe2f3;
    margin: 50px;
    padding: 20px;
  } */

.pse {
    float: left;
    width: 190px;
}
